<!doctype html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/framework.css">
	</head>
	<body>
		<div class="container">
			<h1>SEARCH FLASHCARDS</h1>
			<form method="post" action="/">
				<div class="form-row align-items-center">
				<div class="col-9">
					 <label class="sr-only" for="search">Search</label>
      <input type="text" class="form-control mb-2 mb-sm-0" id="search" placeholder="Search">
				</div>
				<div class="col-auto">
				<button class="btn btn-primary submit" type="submit">Search</button>
			</div>
			</div>
			</form>
			<div class="flashcards">
				<ul class="flashcard-list">
					{% if flashcards is defined %}
					{% for i in range(0, flashcards|length-1) %}
						{% if (i + 1) % 3 == 1 %}
						<div class="row">
						{% endif %}
						<li id="{{ flashcards[i].flashcardid }}" class="flashcard-item col-md-4"><div class="card-face d-flex justify-content-center"><h3 class="word align-self-center">{{ flashcards[i].word }}</h3></div><div class="card-back d-flex justify-content-center"> 
							<p class="desc align-self-center">{{ flashcards[i].descr }}</p>
							<a target="_blank" class="google" href="https://www.google.com/search?q={{ flashcards[i].word }}">Google it</a>
						</div>
						</li>
						{% if (i + 1) % 3 == 0 %}
						</div>
						{% endif %}
					{% endfor %}
		
					{% endif %}
				</ul>
			</div>
		</div>
		<script src="/assets/js/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/script.js"></script>
	</body>
</html>