<!doctype html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="/assets/css/framework.css">
		<link rel="stylesheet" href="/assets/css/login.css">
	</head>
	<body>
		<div class="wrap">
			<form class="login-form" method="post" action="/register">
				<h1>REGISTER</h1>
				{{ flash }}
				<div class="login-group">
					<label>Username</label>
					<input type="text" name="username">
				</div>
				<div class="login-group">
					<label>Fullname</label>
					<input type="text" name="fname">
				</div>
				<div class="login-group">
					<label>Password</label>
					<input type="password" name="password">
				</div>
				<div class="login-group">
					<label>Repeat the password</label>
					<input type="password" name="rpassword">
				</div>
				<button type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>